.aumento-salarios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  button {
    margin-left: 10px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .salarios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .salario {
    margin-bottom: 5px;
  }
  